body {
    background-color: #fcd7e6;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    text-align:center;
    padding-top: 20px;
  }

  h1, h2 {
    margin: 10px 0;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px auto;
  }
  
  .sqr {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    background-color: white;
    text-align: center;
 
  }

  button {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    background-color: #EF2B7C;
    color: white;
  }
  